:root {
  --primary-color-text: #757575;
  --color-header: #212121;
  --accent-color: #2196f3;
  --secondary-color-text: #ffffff;
  --color-svg-border: #afb1b8;
  --primary-font-family: Roboto, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
}
