.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-div {
  @media screen and (min-width: 768px) {
    margin-left: 79px;
  }
}

.container-footer {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer-wraper {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.footer-adress-wrapper,
.footer-div {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: (100% / 2);
    margin-left: 0;
  }
}

.address {
  @extend %flex;
  font-style: inherit;
  margin-top: 0;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.webstudio-white {
  @extend %flex;
  font-family: var(--secondary-font-family);
  font-weight: 500;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;

  color: var(--secondary-color-text);

  @media screen and (min-width: 1200px) {
    display: block;
    margin-bottom: 0;
  }
}

.footer-adress {
  display: inline-block;

  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color-text);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-item {
  @extend %flex;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer-header {
  display: flex;
  justify-content: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color-text);
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    justify-content: start;
    margin-bottom: 0;
  }
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: var(--secondary-color-text);
}
