.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-list {
  .navigation-list {
    display: flex;

    &__item:not(:last-child) {
      margin-right: 50px;
    }
  }
  display: none;
}

.contacts {
  display: none;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-button__icon {
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  position: fixed;
  background-color: wheat;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.burger-icon-close {
  width: 40px;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
// .navigation-list--margin {
//   margin-left: 93px;
// }

// .navigation-list > .list {
//   display: inline-block;
// }

// .navigation-list__item > .link {
//   padding-top: 32px;
//   padding-bottom: 32px;
// }

//

// .nav {
//   display: flex;
//   align-items: center;
// }

// .navigation-list__link {
//   display: block;
//   font-family: inherit;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--color-header);
//   position: relative;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }
// .current {
//   color: var(--accent-color);
// }

// .navigation-list__link.current::after {
//   content: "";
//   display: block;
//   position: absolute;
//   width: 100%;
//   height: 4px;
//   bottom: -1px;
//   border-radius: 2px;
//   background-color: var(--accent-color);
// }

// .contacts {
//   display: flex;
// }

// .contacts--margin-left {
//   margin-left: auto;
// }

// .contacts__link {
//   display: flex;
//   font-family: inherit;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--primary-color-text);
//   align-items: center;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .contacts__list:not(:last-child) {
//   margin-right: 50px;
// }

// .contacts__envelope {
//   margin-right: 10px;
//   fill: currentColor;
// }

// .header-border {
//   border-bottom: 1px solid #ececec;
// }
