.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(/images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/hero2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(/images/hero/hero-tablet.jpg);

    max-width: 768px;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("/images/hero/hero-tablet2x.jpg");
    }

    @media screen and (min-width: 1200px) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(/images/hero/hero-desktop.jpg);

      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("/images/hero/hero-desktop2x.jpg");
      }
    }
  }

  .hero__header {
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 360px;
    margin: auto;

    color: var(--secondary-color-text);

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
      letter-spacing: 0.06em;
      width: 696px;
    }
  }
}
