.mobile-menu {
  position: fixed;
  z-index: 100;

  top: 0;

  width: 100vw;
  height: 100vh;

  padding: 48px 40px;

  background-color: var(--secondary-color-text);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.burger-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-button__close {
  position: absolute;

  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;

  top: 10px;
  right: 15px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.burger-navigation {
  display: block;
  margin-bottom: auto;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
  &__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color: var(--color-header);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.burger-social {
  display: flex;

  & .list:not(:last-child) {
    border-right: 1px solid;
  }
}

.burger-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-left: 10px;
  padding-right: 10px;
}

.burger-contacts {
  margin-bottom: 64px;
}

.burger-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);

  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.burger-contacts__list:not(:last-child) {
  margin-bottom: 32px;
}
.burger-contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;

  color: var(--primary-color-text);
}
