.modal-form {
  display: flex;
  flex-direction: column;

  &-head {
    font-weight: 700;
    font-size: 20px;
    line-height: calc(30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
      line-height: calc(23 / 20);
    }
  }

  &-field {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    color: var(--primary-color-text);
  }
}

.modal-form-input {
  width: 100%;
  height: 40px;
  background: var(--secondary-color-text);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-massage {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-top: 4px;

  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    margin-bottom: 20px;

    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-button {
  align-self: center;
  width: 200px;
  height: 50px;

  padding: 10px 55px;
  margin-top: auto;

  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  color: var(--secondary-color-text);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  }
}

.modal-form-checkbox {
  margin-right: 8px;
}

.modal-form-checkbox-label {
  display: inline-block;

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;

  color: var(--primary-color-text);
  margin-bottom: 30px;

  &::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover::before,
  &:focus::before {
    border-color: var(--accent-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/vector.svg);
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
}

.modal-link {
  color: var(--accent-color);
}
